.BlogsContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: calc(100vh + 62.5px); */
    margin: 0 2rem;
    padding: 30px 15px;
    border-radius: var(--border-radius);
    background-color: var(--fourth-color);
    /* background: linear-gradient(135deg, #cbf4df, #f0fcf5); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.BlogsDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    background-color: #f1e9d1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: var(--border-radius);
    padding: 20px;
}

.SocialMediaDetails{
    background-color: #DAE55B;
    border-radius: var(--border-radius);
    color: #363434;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.SocialMediaDetails:hover {
    transform: translateY(-2px); /* Slightly "lift" the button */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

.SocialMediaDetails:active {
    transform: translateY(2px); /* "Press" the button downward */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for active state */
}

.SocialMediaIcon{
    width: 36px;
    height: 36px;
}

.BlogsVideosContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.BlogsVideosContainer video {
    border: none;
    border-radius: var(--border-radius);
}

.BlogsVideosContainer video:hover, .BlogsVideosContainer video:active {
    transform: scale(1.1);
    transition: transform 0.8s ease;
}

.BlogsNavigationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 0.7rem;
}

.BlogNavigationButton{
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.BlogNavigationButton:disabled {
    opacity: 0.2; /* Reduced opacity when disabled */
    cursor: not-allowed; /* Optional: Change cursor to indicate non-clickable */
}

/* Mobile Design styles */
.BlogsMobileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0rem;
    padding: 30px 0px;
    border-radius: var(--border-radius);
    /* background: linear-gradient(135deg, #cbf4df, #f0fcf5); */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.BlogsMobileDetailsContainer{
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .BlogNavigationButton{
        width: 30px;
        height: 30px;
    }
}