.AddressContainer{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
}

.HelpContainer{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 0;
    color: var(--text-color);
}

.HelpOfficeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HelpOfficeContainer img{
    width: 250px;
    height: 100px;
    border-radius: 50%;
}

.HelpOfficeContainer span{
    text-align: center;
    max-width: 250px;
}

.QuickLinksContainer{
    display: flex;
    flex-direction: column;
}

.ServicesContainer{
    display: flex;
    flex-direction: column;
}

.ContactContainer{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.ContactDetailsContainer{
    display: flex;
    gap: 1rem;
}

.ContactDetailsContainer span{
    padding: 0 0 2px 0;
}

.ContactDetailsContainer .Icon{
    color: var(--primary-color);
    font-size: 24px;
}

.QuickLinksContainer span, .ServicesContainer span{
    cursor: pointer;
    width: fit-content;
}

.FooterContact{
    background-color: var(--third-color);
    padding: 15px 0px;
}

.Social-Media-Icon .wrapper .icon{
    padding: 0px 15px;
    margin: 0px 10px;
}

.Social-Media-Icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.TextFooter{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
}

.TextFooter text{
    font-size: 24px;
}

.TextFooter button{
    text-decoration: underline;
}

.Facebook{
    --color: #1876f2;
}

.Instagram{
    --color: #e4405e;
}

.Twitter{
    --color: #1da0f2;
}

.IconStyle{
    color: var(--primary-color);
    font-size: 28px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
}

.wrapper .icon {
    position: relative;
    background: var(--fourth-color);
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    /* font-size: 18px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(253, 255, 0, 0.1);
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
  background: var(--color);
  color: var(--primary-color);
}

.TermsAndConditionsHeader{
    display: flex;
    justify-content: space-between;
}

.TermsAndConditionsHeader button{
    font-size: 22px;
}

.TermsAndConditions{
    background-color: var(--fourth-color);
    color: var(--primary-color);
}

.TermsAndConditions h3, .TermsAndConditions h2, .TermsAndConditions strong{
    color: var(--text-color);
}

/* mobile styles */

@media (max-width: 768px) {
    .HelpMobileContainer{
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
    }

    .TextFooter{
        font-size: clamp(12px, 1.4vw, 18px);
        text-align: center;
    }

    .TextFooter text{
        font-size: clamp(16px, 1.6vw, 24px);
    }

    .QuickLinksContainer, .ServicesContainer, .ContactContainer{
        align-items: center;
    }

    .HelpLogoContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: clamp( 20px, 1.8vw, 28px);
    }
}