@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Comic+Neue&display=swap');

.HomeContentMobileContainer{
    padding: 50px 0;
}

/* Keyframes for the slide-in effect */
@keyframes slideInFromRight {
    from {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0; /* Invisible at the start */
    }
    to {
        transform: translateX(0); /* Slide into place */
        opacity: 1; /* Fully visible */
    }
}

.HomeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden !important;
    padding: 0px 50px;
    width: 100%;
    gap: 4rem;
    /* height: calc(100vh - 62.5px); */
    background-size: cover;
    flex-wrap: wrap;
    transition: transform 0.5s ease;
}

.HomeContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.imageSlice {
    position: absolute;
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
}

.HomeLeftContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
    align-items: start;
    padding: 4rem 0px;
}

.HomeTitle h3{
    font-family: 'Anton SC';
    font-weight: 400;
    color: var(--primary-color);
    font-size: 46px;
    /* width: 40%; */
    text-align: end;
}

.HomeTitle{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.HomeDescription{
    font-family: 'Averia Libre';
    font-weight: 400;
    height: 15%;
    color: #f2f2f2;
    font-size: 16px;
    text-align: center;
}

.HomeTitle h3 {
  background: linear-gradient(to right, #4d4d4d 0, rgb(240, 204, 204) 10%, #4d4d4d 20%);
  background-size: 200%;
  background-position: 0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
        background-position: 0;
    }
  100%{
        background-position: 200%;
    }
}


.HomeMobileContainer {
    
}