.NavbarContainer {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fourth-color);
    padding: 8px 5px;
	z-index: 1000;
}

.MenuContainer{
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    padding: 0 20px;
}

/*----------bootstrap-navbar-css------------*/
.NavbarLogoContainer{
	padding-left: 15px;
	color: #fff;
	display: flex;
}

.NavbarLogoContainer svg {
	height: 130% !important;
	width: 120% !important;
}

.NavbarLogoContainer div{
	transform: scaleX(-1);
    pointer-events: none;
}

.NavbarLogoContainer img{
	width: 100px;
	height: 50px;
}

nav {
    position: relative;
    z-index: 1;
    padding-right: 140px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 18px;
    list-style: 22px;
    color: var(--primary-color);
    transition: color 0.25s;
	font-weight: 500;
}

nav ul li.active button {
    color: var(--secondary-color);
}

nav ul li:not(.active):hover button {
    color: var(--third-color);
}

nav .active-element {
    --active-element-scale-x: 1;
    --active-element-scale-y: 1;
    --active-element-show: 0;
    --active-element-opacity: 0;
    --active-element-width: 0px;
    --active-element-strike-x: 0%;
    --active-element-mask-position: 0%;
    position: absolute;
    left: 0;
    top: 24px;
    height: 2px;
    width: 46px;
    border-radius: 2px; 
    background-color: var(--secondary-color);
    opacity: var(--active-element-show);
}

nav .active-element>svg,
nav .active-element .strike {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: var(--active-element-opacity);
    width: var(--active-element-width);
    mix-blend-mode: multiply;
}

nav .active-element>svg {
    display: block;
    overflow: visible;
    height: 5px;
    filter: blur(0.5px) 
    drop-shadow(2px 0px 8px rgba(0, 117, 255, 0.4)) 
    drop-shadow(1px 0px 2px rgba(0, 128, 255, 0.8))
    drop-shadow(0px 0px 3px rgba(153, 204, 255, 0.4)) 
    drop-shadow(2px 0px 8px rgba(137, 196, 255, 0.45)) 
    drop-shadow(8px 0px 16px rgba(153, 204, 255, 0.5));
}

nav .active-element .strike {
    padding: 24px 0;
    -webkit-mask-image: linear-gradient(to right, 
    transparent calc(0% + var(--active-element-mask-position)), 
    black calc(15% + var(--active-element-mask-position)), 
    black 80%, transparent);
    mask-image: linear-gradient(to right, transparent 
    calc(0% + var(--active-element-mask-position)), 
    black calc(15% + var(--active-element-mask-position)), 
    black 80%, transparent);
}

nav .active-element .strike svg {
    display: block;
    overflow: visible;
    height: 12px;
    width: calc(var(--active-element-width) * 2);
    transform: translate(var(--active-element-strike-x), 30%) 
    scale(var(--active-element-scale-x), 
    var(--active-element-scale-y));
}

nav .active-element .strike svg:last-child {
    transform: translate(var(--active-element-strike-x), -30%) 
    scale(-1);
}

nav .active-element .strike svg g path:nth-child(2) {
    filter: blur(2px);
}

nav .active-element .strike svg g path:nth-child(3) {
    filter: blur(4px);
}

nav.before .active-element {
    transform: rotateY(180deg);
}

.HeaderContainer {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Syne", serif, sans-serif;
    font-weight: 600;
}

.HeaderContainer {
    box-sizing: inherit;
}


.HeaderContainer:before,
.HeaderContainer:after {
    box-sizing: inherit;
}

.HeaderContainer {
    min-height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.HeaderContainer:before {
    content: "";
    position: absolute;
    inset: 40% -60% 0 -60%;
    opacity: 0.3;
    pointer-events: none;
}

.SearchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-right: 10px;
}

.SearchIcon{
    font-size: 26px; 
    color: var(--background-primary-color);
    cursor: pointer;
}

.SearchContainer .Icon{
    font-size: 24px;
    color: var(--background-primary-color);
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.568); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 80px;
    z-index: 1000;
}
  
.popup-container {
    background-color: var(--secondary-color);
    padding: 4px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    display: flex;
    align-items: center;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-icon{
    font-size: 22px;
    color: var(--fourth-color);
}
  
.popup-input {
    width: 450px;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
}

.popup-input::placeholder {
    color: var(--fourth-color);
}

.popup-results {
    margin-top: 8px;
    background: var(--background-color); /* Background color for results */
    border: 1px solid var(--border-color); /* Border color based on your theme */
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-height: 200px; /* Limit height for scrollable results */
    overflow-y: auto; /* Scroll if results overflow */
    scrollbar-width: thin; /* For Firefox */
    padding: 0;
    list-style: none; /* Remove bullets */
    z-index: 1001; /* Keep results above other elements */
    width: 470px;
    position: absolute; /* Position relative to the container */
    top: 125px;
}

.popup-results::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    border-radius: 10px;
}

.popup-result-item {
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-color); /* Text color from your theme */
    transition: background-color 0.2s ease-in-out;
}

.popup-result-item:hover {
    background-color: var(--text-muted); /* Hover color from your theme */
}


/* Navbar Mobile styles Starting*/

.NavbarTopMobileContainer{
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	top: 0;
	width: 100%;
	background-color: var(--fourth-color);
    z-index: 1000;
}

.NavbarMobileContainer{
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: var(--fourth-color);
    z-index: 1000;
}

.NavbarMobileLogoContainer{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.NavbarMobileLogoContainer .Icon{
	color: var(--primary-color);
	font-size: 1.5rem;
}

.NavbarMobileSelected{
	background-color: var(--secondary-color); 
	border-radius: 100%;
	transform: translateY(-2px);
	box-shadow: var(--button-box-shadow-active);
	transition: background-color 0.5s ease;
}

.NavbarTopMobileContainer{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}

.NavbarTopMobileLogoContainer{
	display: flex;
	justify-content: start;
	align-items: center;
	color: #fff;
}

.NavbarTopMobileLogoContainer svg {
	height: 120% !important;
	width: 90% !important;
	margin-left: 30px;
}

.NavbarTopMobileLogoContainer div{
	transform: scaleX(-1);
    pointer-events: none;
}

.NavbarTopMobileLogoContainer img{
	width: 50px;
	height: 30px;
}