.ProductMobileContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

@media screen and (max-width: 991px){

    .ProductReviewContainer{
        padding: 50px 20px;
    }

    .ReviewContainer{
        padding: 0 1rem;
    }

    .ReviewSectionContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .ProductImageContainer img{
        width: 100% !important;
        height: 350px !important;
    }

    .ListOfImagesContainer {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1rem;
        scroll-behavior: smooth;
        overflow-x: auto;
        white-space: nowrap;
        padding-bottom: 10px; /* To avoid scrollbar cutting the content */
        scrollbar-width: thin; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    
    .ListOfImagesContainer::-webkit-scrollbar {
        height: 5px; /* Adjust scrollbar height */
    }
    
    .ListOfImagesContainer::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
    
    .ListOfImagesContainer .NextImageContainer {
        border-radius: var(--border-radius);
        border: 1px solid var(--primary-color);
        width: 150px; /* Adjust width if needed */
        height: 200px;
        flex-shrink: 0;
    }

    .NextImageContainer img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .ProductDetailsContainer{
        height: auto !important;
        gap: 1rem;
    }

    .ProductCategoryTagsContainer span{
        font-size: clamp(0.6rem, 2vw, 1rem);
    }

    .ProductRating{
        align-items: center;
    }

    .ProductImageDetailsContainer{
        justify-content: start !important;
        padding: 0 !important;
    }

    .QuantityContainer{
        /* padding: 0.1rem !important; */
    }

    .QuantityButton{
        padding: 4px !important;
    }

    .QuantityButton .Icon{
        font-size: 0.5rem !important;
    }
    
    .AddToCartButton{
        font-size: 0.6rem !important;
        align-items: center !important;
    }

    .ProductRatingContainer button{
        font-size: clamp(12px, 1vw, 16px) !important;
    }
}

.ProductMobileHomeContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.ProductMobileListContainer{
    display: flex;
    overflow-x: scroll; /* Enable horizontal scrolling */
    scrollbar-width: thin; /* Hide scrollbar */
    scroll-behavior: smooth; /* Smooth scrolling */
    padding: 8px 18px;
    gap: 1.8rem;
    border-radius: 8px;
    align-items: center;
    background-color: rgba(var(--background-color-rgb), 0.5);
    min-height: 350px;
    width: 75%;
}

.ProductMobileCard{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-shrink: 0;
    text-align: start;
    min-width: 250px;
    height: 300px;
    transition: 0.5s ease;
    border-radius: 8px;
    color: #000000;
    box-shadow: var(--box-shadow);
}

.ProductMobileListContainer:hover{
    transform: scale(1.02);
}

.SliderMobileButton {
    background: var(--fourth-color);
    color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    text-align: center;
}

.SliderMobileButton:hover {
    background: var(--secondary-color);
}

.SliderMobileButton.left {
    margin-left: 10px;
}

.SliderMobileButton.right {
    margin-right: 10px;
}

.SliderMobileButton .Icon{
    font-size: 1rem;
}