.ReviewCardContainer{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--fourth-color);
    border: 1px solid var(--text-color);
    width: 500px;
    min-height: 150px;
}

.ReviewCardContainer:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.DetailsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.DetailsContainer img{
    width: 400px;
    height: 100px;
}

.ReviewContentContainer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ReviewContent p{
    font-size: clamp(0.5rem, 1vw, 1rem);
}

/* mobile styles */
@media screen and (max-width: 991px){
    .ReviewCardContainer{
        width: 100%;
    }

    .ReviewContent p{
        font-size: clamp(0.7rem, 1vw, 1rem);
    }

    .ReviewContentContainer .StarRating{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 0.5rem;
    }
}