.ServicesHomeContainer{
    padding: 2rem 1rem;
}

.ServicesViewContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
}

.ServicesView{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--fourth-color);
    border: 1px solid var(--text-color);
    width: min(500px, auto);
    height: fit-content;
}

.ServicesViewImage{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.ServicesViewImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.ServicesViewContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}

.ServicesViewContent h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.ServicesViewContent button{
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--fourth-color);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ServicesViewContent button:hover{
    background-color: var(--secondary-color);
}

@media screen and (max-width: 991px){

    .ServicesHomeContainer{
        padding: 3rem 1rem;
    }

    .ServicesViewContainer{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .ServicesView{
        flex-direction: column;
    }

    .ServicesViewContent{
        width: 100%;
    }
    
}

/* Services styles */
.ServicesContainer{
    padding: 2rem 1rem;
}

.ServicesContentContainer h1{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.ServicesContentDescriptionContainer{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem ;
}

.ServicesContentDescription{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
}

.ServicesBookingFormContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    border-left: 1px solid var(--text-color);
    padding-left: 2rem;
}

.ServicesBookingFormContainer input{
    padding: 0.5rem 1rem;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: var(--text-color);
    font-weight: 600;
    transition: all 0.3s ease;
}

.ServicesBookingFormContainer input:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--fourth-color);
}

.ServicesBookingFormContainer input::placeholder{
    color: var(--text-color);
}

.BookingButtonContainer{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.BookingButtonContainer button{
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.BookingButtonContainer button:nth-child(1){
    background-color: var(--primary-color);
    color: var(--fourth-color);
}

.BookingButtonContainer button:nth-child(2){
    border: 1px solid var(--primary-color);
    color: var(--text-color);
}

.BookingButtonContainer button:nth-child(1):hover{
    background-color: var(--secondary-color);
}

.BookingButtonContainer button:nth-child(2):hover{
    background-color: var(--third-color);
}