body{
  font-family: "Syne", sans-serif !important;
  scrollbar-color: var(--third-color) var(--fourth-color);
  background-color: var(--background-color);
  color: var(--text-color);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}